.lb-classifier {
    background-color: #dddddd;
    color:  #dddddd;
    position: absolute;
    left: 100px;
    top: 12px;
}

.lb-classifier-metric {
    background-color: transparent;
    position: absolute;
    left: 100px;
    top: 12px;
}
/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff; 
    opacity:0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff; 
    opacity:0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
    opacity:0;
}