.lb-classifier {
    background-color: #dddddd;
    color:  #dddddd;
    position: absolute;
    left: 100px;
    top: 8px;
}

.lb-classifier-metric {
    background-color: transparent;
    position: absolute;
    left: 100px;
    top: 8px;
}

.ant-collapse-header {
    padding: 8px 0 8px 36px !important;
}

.ant-collapse-header .arrow {
    line-height: 40px !important;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
    opacity:0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
    opacity:0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
    opacity:0;
}