@import '~antd/dist/antd.css';

:root{
  --header-height: 6vh;
}
.app{
  width:100vw;
  height:100vh;
}
.col{
  padding: 10px;
  height: 100%;
  overflow-y: hidden;

}
.appHeader {
  background-color: #555;
  /* font-family: Roboto, sans-serif; */
  font-family: "Arial Black", Gadget, sans-serif;
  height: var(--header-height);
  /* padding: 20px; */
  color: white;
  font-size: 3.5vh;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.16), 0 0 0 4px rgba(0,0,0,0.08);
  line-height: var(--header-height);
}
.appContent{
  background-color: white;
  height: calc(100% - var(--header-height));
}
.appLogo{
  height:3.5vh;
  padding: 1px 5px;
}

.shadowBox{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  margin: 10px;
  display: block;
  position:absolute; top:0; left:0; right:0; bottom:0
}