.datasetInfo{
    padding: 10px;
    width: 100%;
    text-align: center;
}

.features{
    overflow-y: scroll;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.16);
}
.featureTitle{
    text-align: center;
    font-size: 1.2em;
}

.feature{
    border-bottom: 1px solid rgba(0,0,0,0.16);
}